redirect 301 /bio https://kaye.com
redirect 301 /bio.html https://kaye.com
redirect 301 /contact.html https://kaye.com
redirect 301 /content https://kaye.com
redirect 301 /pdfb/index.html https://pdfb.org
redirect 301 /archive https://kaye.com
redirect 301 /pubs https://kaye.com
redirect 301 /archive/wiseKen.jpg https://kaye.com/wiseKen.jpg

# New URLs for /books/
redirect 301 /FR.html https://kaye.com/books/family-rules-raising-responsible-children.html
redirect 301 /books/FR.html https://kaye.com/books/family-rules-raising-responsible-children.html
redirect 301 /TM.html http://www.amazon.com/gp/product/1440119775?ie=UTF8&tag=kennekayehelp-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1440119775
redirect 301 /books/TM.html http://www.amazon.com/gp/product/1440119775?ie=UTF8&tag=kennekayehelp-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1440119775
redirect 301 /WW.html https://kaye.com/books/workplace-wars-and-how-to-end-them.html
redirect 301 /books/WW.html https://kaye.com/books/workplace-wars-and-how-to-end-them.html
redirect 301 /DFB.html https://kaye.com/books/dynamics-of-family-business.html
redirect 301 /books/DFB.html https://kaye.com/books/dynamics-of-family-business.html

# New URLs for /family-therapy/
redirect 301 /famtx/ackrej.pdf https://kaye.com/family-therapy/ackrej.pdf
redirect 301 /famtx/discourse.pdf https://kaye.com/family-therapy/discourse.pdf
redirect 301 /famtx/familyrules.jpg https://kaye.com/family-therapy/familyrules.jpg
redirect 301 /famtx/index.html https://kaye.com/family-therapy/index.html
redirect 301 /famtx/nobeard.jpg https://kaye.com/family-therapy/nobeard.jpg
redirect 301 /famtx/psychtodayadopn.pdf https://kaye.com/family-therapy/psychtodayadopn.pdf
redirect 301 /famtx/redbk.pdf https://kaye.com/family-therapy/redbk.pdf

# New URLS for /early-human-development/
redirect 301 /mslb https://kaye.com/early-human-development
redirect 301 /mslb/becoming.pdf https://kaye.com/early-human-development/becoming.pdf
redirect 301 /mslb/bullowa.pdf https://kaye.com/early-human-development/bullowa.pdf
redirect 301 /mslb/cambreview.pdf https://kaye.com/early-human-development/cambreview.pdf
redirect 301 /mslb/devskills.pdf https://kaye.com/early-human-development/devskills.pdf
redirect 301 /mslb/drugsinpregnancy.html https://kaye.com/early-human-development/drugsinpregnancy.html
redirect 301 /mslb/feeding.htm https://kaye.com/early-human-development/feeding.htm
redirect 301 /mslb/index.html https://kaye.com/early-human-development/index.html
redirect 301 /mslb/infeffects.pdf https://kaye.com/early-human-development/infeffects.pdf
redirect 301 /mslb/jclbabytalk.pdf https://kaye.com/early-human-development/jclbabytalk.pdf
redirect 301 /mslb/kayechar1.pdf https://kaye.com/early-human-development/kayechar1.pdf
redirect 301 /mslb/kayechar2.pdf https://kaye.com/early-human-development/kayechar2.pdf
redirect 301 /mslb/kayefogel.pdf https://kaye.com/early-human-development/kayefogel.pdf
redirect 301 /mslb/kayemarc1.pdf https://kaye.com/early-human-development/kayemarc1.pdf
redirect 301 /mslb/kayemarc2.pdf https://kaye.com/early-human-development/kayemarc2.pdf
redirect 301 /mslb/kayewells.pdf https://kaye.com/early-human-development/kayewells.pdf
redirect 301 /mslb/labate.pdf https://kaye.com/early-human-development/labate.pdf
redirect 301 /mslb/lochlomond.pdf https://kaye.com/early-human-development/lochlomond.pdf
redirect 301 /mslb/mslb.pdf https://kaye.com/early-human-development/mslb.pdf
redirect 301 /mslb/ortho.pdf https://kaye.com/early-human-development/ortho.pdf
redirect 301 /mslb/sameroff.pdf https://kaye.com/early-human-development/sameroff.pdf
redirect 301 /mslb/social.htm https://kaye.com/early-human-development/social.htm
redirect 301 /mslb/StLuke.jpg https://kaye.com/early-human-development/StLuke.jpg
redirect 301 /mslb/temporal.htm https://kaye.com/early-human-development/temporal.htm
redirect 301 /mslb/tronick.pdf https://kaye.com/early-human-development/tronick.pdf

# New URLS for /educational-psychology/
redirect 301 /IQ https://kaye.com/educational-psychology
redirect 301 /IQ/crescat.jpg https://kaye.com/educational-psychology/crescat.jpg
redirect 301 /IQ/deterrent.pdf https://kaye.com/educational-psychology/deterrent.pdf
redirect 301 /IQ/eysenck.pdf https://kaye.com/educational-psychology/eysenck.pdf
redirect 301 /IQ/index.html https://kaye.com/educational-psychology/index.html
redirect 301 /IQ/IQandphil.htm https://kaye.com/educational-psychology/IQandphil.htm
redirect 301 /IQ/jencks.pdf https://kaye.com/educational-psychology/jencks.pdf
redirect 301 /IQ/jensen.pdf https://kaye.com/educational-psychology/jensen.pdf
redirect 301 /IQ/lawler.htm https://kaye.com/educational-psychology/lawler.htm
redirect 301 /IQ/resnick.pdf https://kaye.com/educational-psychology/resnick.pdf

# New URLs for /family-business/
redirect 301 /article_advice.html https://kaye.com/family-business/article_advice.html
redirect 301 /article_BornRich.html https://kaye.com/family-business/BornRich.pdf
redirect 301 /article_conflict.html https://kaye.com/family-business/article_conflict.html
redirect 301 /article_conflictopportunity.html https://kaye.com/family-business/article_conflictopportunity.html
redirect 301 /article_happy.html https://kaye.com/family-business/article_happy.html
redirect 301 /article_happy2.html https://kaye.com/family-business/article_happy.html
redirect 301 /article_interview.html https://kaye.com/family-business/article_interview.html
redirect 301 /article_lansberg.html https://kaye.com/family-business/LansbergReview.pdf
redirect 301 /article_lansberg2.html https://kaye.com/family-business/LansbergReview.pdf
redirect 301 /article_LansbergReview.html https://kaye.com/family-business/LansbergReview.pdf
redirect 301 /article_mate.html https://kaye.com/family-business/article_mate.html
redirect 301 /article_mate2.html https://kaye.com/family-business/article_mate.html
redirect 301 /article_prisoners.html https://kaye.com/family-business/article_prisoners.html
redirect 301 /article_trustconsulting2.html https://kaye.com/family-business/article_trustconsulting.html
redirect 301 /article_trusting.html https://kaye.com/family-business/trusting.pdf
redirect 301 /BornRich.pdf https://kaye.com/family-business/BornRich.pdf
redirect 301 /fambz/boardroom.pdf https://kaye.com/family-business/boardroom.pdf
redirect 301 /fambz/Conflict_and_human_nature.pdf https://kaye.com/family-business/Conflict_and_human_nature.pdf
redirect 301 "/fambz/Family Business anniv comment.htm" "https://kaye.com/family-business/Family Business anniv comment.htm"
redirect 301 /fambz/Hardest.pdf https://kaye.com/family-business/Hardest.pdf
redirect 301 /fambz/incompatible2.pdf https://kaye.com/family-business/incompatible2.pdf
redirect 301 /fambz/index.html https://kaye.com/family-business/index.html
redirect 301 /fambz/kidbrotherSpanish.pdf https://kaye.com/family-business/kidbrotherSpanish.pdf
redirect 301 /fambz/Leipzig.pdf https://kaye.com/family-business/Leipzig.pdf
redirect 301 /fambz/Nepotism.htm https://kaye.com/family-business/Nepotism.htm
redirect 301 /fambz/payingfair.pdf https://kaye.com/family-business/payingfair.pdf
redirect 301 /fambz/payingfaircolor.pdf https://kaye.com/family-business/payingfaircolor.pdf
redirect 301 /fambz/RespVoiceQuery.htm https://kaye.com/family-business/RespVoiceQuery.htm
redirect 301 /fambz/saveindex.html https://kaye.com/family-business/
redirect 301 /fambz/sicknessSpanish.pdf https://kaye.com/family-business/sicknessSpanish.pdf
redirect 301 /fambz/TFS.pdf https://kaye.com/family-business/TFS.pdf
redirect 301 /fambz/TooLate.pdf https://kaye.com/family-business/TooLate.pdf
redirect 301 /fambz/Triage.pdf https://kaye.com/family-business/Triage.pdf
redirect 301 /fambz/Trust1.pdf https://kaye.com/family-business/Trust1.pdf
redirect 301 /fambz/Trust2.pdf https://kaye.com/family-business/Trust2.pdf
redirect 301 /fambz/Trust3.pdf https://kaye.com/family-business/Trust3.pdf
redirect 301 /fambz/TrustingFastandSlow.pdf https://kaye.com/family-business/TrustingFastandSlow.pdf
redirect 301 /fambz/wiseKen.jpg https://kaye.com/family-business/wiseKen.jpg
redirect 301 /fambzindex.html https://kaye.com/family-business/
redirect 301 /LansbergReview.pdf https://kaye.com/family-business/LansbergReview.pdf
redirect 301 /payingfaircolor.pdf https://kaye.com/family-business/payingfaircolor.pdf
redirect 301 /resources https://kaye.com/family-business/
redirect 301 /resources.html https://kaye.com/family-business/
redirect 301 /resources/consultants https://kaye.com/family-business/
redirect 301 /resources/consultants/trustfinlfamilies https://kaye.com/family-business/
redirect 301 /resources/favorites https://kaye.com/family-business/
redirect 301 /resources/owners https://kaye.com/family-business/
redirect 301 /resources/owners/advice https://kaye.com/family-business/article_advice.html
redirect 301 /resources/owners/happy-landings https://kaye.com/family-business/article_happy.html
redirect 301 /resources/owners/mate-selection https://kaye.com/family-business/article_mate.html
redirect 301 /resources/owners/ntrvw https://kaye.com/family-business/article_interview.html
redirect 301 /resources/owners/succeeding-generations https://kaye.com/family-business/
redirect 301 /resources_1.html https://kaye.com/family-business/
redirect 301 /resources_2.html https://kaye.com/family-business/
redirect 301 /resources_3.html https://kaye.com/family-business/
redirect 301 /work https://kaye.com/family-business/
redirect 301 /work.html https://kaye.com/family-business/
redirect 301 /work.html https://kaye.com/family-business/
redirect 301 /work/addiction https://kaye.com/family-business/
redirect 301 /work/advisor-teams https://kaye.com/family-business/
redirect 301 /work/conflict-resolution https://kaye.com/family-business/
redirect 301 /work/conflict-resolution/opportunity https://kaye.com/family-business/
redirect 301 /work/fees https://kaye.com/family-business/
redirect 301 /work/kid-brother https://kaye.com/family-business/
redirect 301 /work/succcession https://kaye.com/family-business/
redirect 301 /work/succession https://kaye.com/family-business/
redirect 301 /work/team-building https://kaye.com/family-business/
redirect 301 /work_addiction.html https://kaye.com/family-business/
redirect 301 /work_conflict.html https://kaye.com/family-business/
redirect 301 /work_conflictopportunity.html https://kaye.com/family-business/
redirect 301 /work_consultteam.html https://kaye.com/family-business/
redirect 301 /work_familyoffice.html https://kaye.com/family-business/
redirect 301 /work_familyteam.html https://kaye.com/family-business/
redirect 301 /work_fees.html https://kaye.com/family-business/
redirect 301 /work_nextgeneration.html https://kaye.com/family-business/
redirect 301 /work_programs.html https://kaye.com/family-business/
redirect 301 /work_succession.html https://kaye.com/family-business/
